<nav class="hidden md:block bg-white border-b border-gray-200">
    <div class="max-w-7xl mx-auto px-4 md:px-6">
        <ul class="flex items-center justify-center gap-12 py-3 text-black">
            <li>
                <a routerLink="/mis-paquetes"
                    class="hover:text-secondary transition-colors duration-200 flex justify-center items-center gap-2 ">
                    <app-icon name="ShoppingBag" class="color-secondary"></app-icon>Mis Paquetes</a>
            </li>
            <li>
                <a routerLink="/productos"
                    class="hover:text-secondary transition-colors duration-200 flex justify-center items-center gap-2 ">
                    <app-icon name="box" class="color-secondary"></app-icon>Productos
                </a>
            </li>
            <li>
                <a routerLink="/paquetes-publicados"
                    class="hover:text-secondary transition-colors duration-200 flex justify-center items-center gap-2 ">
                    <app-icon name="Package" class="color-secondary"></app-icon>
                    Paquetes</a>
            </li>

            @if (isLoggedIn()) {
            <li>
                <button (click)="signOut()"
                    class=" flex justify-center items-center gap-2 text-red-600 font-semibold hover:text-red-700 transition-colors duration-200">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h7v2H5v14h7v2zm11-4l-1.375-1.45l2.55-2.55H9v-2h8.175l-2.55-2.55L16 7l5 5z" />
                    </svg>Cerrar sesión
                </button>
            </li>
            }
        </ul>
    </div>
</nav>