<section class="py-10 relative overflow-x-clip">
  <h2 class="font-display text-2xl mb-6 flex items-center justify-center gap-3">
    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24"><path fill="currentColor" d="M5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h14q.825 0 1.413.588T21 5v14q0 .825-.587 1.413T19 21zm2-4h5v-2H7zm1-4l4-2l4 2V5H8z"/></svg>
    {{
      tipo() === "paquete" ? "Paquetes por cerrarse" : "Productos destacados"
    }}
  </h2>

  <div class="relative flex justify-center items-center min-h-[460px]">
    <app-flecha-carrusel
      direction="left"
      (arrowClick)="scrollLeft()"
      [disabled]="translateX === 0"
      class="z-10"
    ></app-flecha-carrusel>

    <div class="relative w-[calc((495px*2)+(40px*2))] z-0 pb-6">
      <div
        #carousel
        class="flex gap-10 transition-transform duration-500 ease-in-out"
        [style.transform]="'translateX(' + translateX + 'px)'"
      >
        @for (item of items(); track item.id) {
        <app-paquete-card
          [nombre]="item.nombre"
          [imagen]="item.imagen"
          [estado]="item.estado"
          [cantidadActual]="item.cantidadActual"
          [cantidadMaxima]="item.cantidadMaxima"
        ></app-paquete-card>
        }
      </div>
    </div>

    <app-flecha-carrusel
      direction="right"
      (arrowClick)="scrollRight()"
      [disabled]="translateX === maxScroll"
      class="z-10"
    ></app-flecha-carrusel>
  </div>
</section>
